html, body {
    background-color: #ffeead;
    margin: 10px;
  }

body {
    display: grid;
    grid-gap: 3px;
    grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  }
footer, article, nav, div {
    
  padding: 20px;
  background: #96ceb4;
  border-radius: 10px;
}
header{
    color: aliceblue;
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    background: #5d4037;
    border-radius: 10px;
}
.font{
    color: aliceblue;
    font-family: monospace;
    font-size: 24px;
}
.art{
    border: solid 1px black;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-gap: 3px;
    
}
.art > p{
    display: flex;
    justify-content: center;
}
.art1{
    border: solid 1px black;
    border-radius: 5px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.art2{
    border: solid 1px black;
    border-radius: 5px;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

#pageHeader {
    grid-area: header;
  }
  #pageFooter {
    grid-area: footer;
  }
  #mainArticle { 
    grid-area: article;      
    }
  #mainNav { 
    grid-area: nav; 
    }
  #siteAds { 
    grid-area: ads; 
    }
p{
    font-size: 20px;
    color: black;
}
nav{
    display: grid;
    background: #8ead9f;
    border: solid 1px grey;
    /* grid-template-columns: 20px 20px 20px 20px; */
    grid-template-rows: repeat(5, 50px);
    grid-gap: 10px;
}
nav > a{
    border: solid 1px #7986cb;
    border-radius: 5px;
    text-align: center;
    padding: 15px 5px 5px 5px;
    background: #8ead9f;
    text-decoration: none;
    color: #5d4037;
}
nav a:hover{
    background: #ffeead;
}
img{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;

    align-items: stretch;
}
